@import '../utils/variables';

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: $global-background-color;
    font-family: $font-inter;
    color: $white-color;
    margin: 0 auto;
    font-size: 14px;
}

a,
a:visited {
    text-decoration: none;
    color: $white-color;
}

button {
    color: $white-color;
}

input[type="text"],
input[type="date"],
input[type="number"],
input[type="url"],
textarea {
    font-family: $font-inter;
    color: $white-color;
}

::-webkit-calendar-picker-indicator {
    filter: invert(1);
}


::placeholder {
    color: $white-color;
}

@media (max-width: 1110px) {
    body {
        padding-right: 0.75rem;
        padding-left: 0.75rem;
    }
}