@import '../utils/variables';

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: $global-background-color;
    font-family: $font-inter;
    color: $white-color;
    margin: 0 auto;
    max-width: 1110px;
    font-size: 14px;
}

a,
a:visited {
    text-decoration: none;
    color: $white-color;
}

button {
    color: $white-color;
}

input::placeholder {
    color: $white-color;
}