.container {
    max-width: 1110px;
    margin: 0 auto;
}

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.navbar__logo {
    display: flex;
    align-items: center;
}

.navbar__links {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar__links a {
    color: #fff;
    text-decoration: none;
}

.navbar__links li {
    margin-right: 20px;
}

.navbar__search {
    display: flex;
    align-items: center;
    position: relative;
    /* Dodajemy pozycję względną */

}

.navbar__search input {
    background-color: #151F30;
    color: #fff;
    border-radius: 0.5rem;
    border: none;
    padding: 10px 40px 10px 10px;
}

.search-icon {
    color: #1F80E0;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.arrow-icon {
    color: #1F80E0;
    width: 20px;
    height: 20px;
}

.navbar__my-account {
    display: flex;
    align-items: center;
}

.navbar__my-account a {
    color: #fff;
    text-decoration: none;
    padding-right: 0.5rem;
}

.navbar__logo,
.navbar__links,
.navbar__search,
.navbar__my-account {
    display: flex;
    align-items: center;
}

.navbar__links li:last-child {
    margin-right: 0;
}

.navbar__search input::placeholder {
    color: #fff;
}

.navbar__logo,
.navbar__links {
    margin-right: auto;
}

.navbar__search,
.navbar__my-account {
    margin-left: auto;
}