.dashboard {
    @media (max-width:992px) {
        padding: 1rem;
        width: 100%;
    }

    &__container {
        @media (max-width:992px) {
            max-width: 1110px;
            margin: 0 auto;
        }
    }

    &__stats {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 1rem;
        padding-bottom: 2rem;
    }

    &__stat-box {
        background-color: rgb(21, 31, 48);
        width: 100%;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        padding: 0.5rem;

        p {
            margin: 0;
            text-align: right;
        }

        &--30-last {
            font-weight: 100;
            font-size: 12px;
        }

        h1 {
            margin: 0;
        }

        @media (min-width: 481px) {
            width: calc(50% - 0.5rem);
        }

        @media (min-width: 768px) {
            width: calc(25% - 1rem);
        }
    }

    &__cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 1rem;
    }

    &__card {
        background-color: rgb(21, 31, 48);
        width: 100%;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        padding: 0.5rem;

        div {
            display: flex;
            justify-content: space-between;

            h4 {
                font-weight: normal;
                margin: 0;
                display: flex;
                align-items: center;
            }

            svg {
                color: rgb(49, 130, 237);
                height: 14px;
                width: 14px;
                margin-right: 0.5rem;
            }

            button {
                background-color: rgb(13, 18, 28);
                border: 0;
                border-radius: 10px;
                padding: 0.5rem;
                cursor: pointer;
            }
        }

        hr {
            width: 100%;
            border-color: rgb(49, 130, 237);
            height: 1px;
        }

        table {
            width: 100%;
            text-align: left;
            border-spacing: 0 0.5rem;
            border-collapse: separate;

            th {
                padding-left: 0;
                text-transform: uppercase;
                font-weight: 400;
                font-size: 12px;
            }

            svg {
                color: rgb(49, 130, 237);
                height: 14px;
                width: 14px;
                margin-right: 0.5rem;
            }
        }

        @media (min-width: 768px) {
            width: calc(50% - 1rem);
        }
    }
}