.movie-previews-detail {
    width: 100%;

    &__container {
        max-width: 1110px;
        margin: 0 auto;
        padding: 1rem;
    }

    table {
        display: flex;
        text-align: left;
    }

    td {
        display: flex;
    }

    th {
        font-weight: bold;
        text-transform: lowercase;
    }
}