.price {
    padding: 1rem;
    width: 100%;

    &__container {
        max-width: 1110px;
        margin: 0 auto;
    }

    &__header {
        position: relative;

        img {
            width: 100%;
            height: auto;
        }

        h2 {
            position: absolute;
            top: 50%;
            transform: translate(0, -50%);
            font-size: 24px;
            margin: 0;
            padding-left: 2rem;

            @media (max-width: 767px) {
                font-size: 1rem;
            }
        }
    }

    &__table {
        border-spacing: 0;
        text-align: left;

        @media (min-width:768px) {
            display: flex;
        }

        table {
            width: 100%;
            border-spacing: 0;

            @media (max-width:767px) {
                padding-bottom: 1rem;
            }
        }

        td {
            padding: 0.7rem;
        }

        th {
            font-weight: 700;
            padding: 0.7rem;
        }

        .evenRow {
            background-color: rgb(22, 32, 50);
        }
    }

    &__text {
        max-width: 600px;
    }
}