.universal {
    table {
        width: 100%;
        text-align: left;
        border-spacing: 0 1rem;
        border-collapse: separate;
    }

    .universal__table {
        overflow-x: auto;
    }
}