.advertisement {
    width: 100%;
    background-color: rgba(23, 33, 51, 0.5);
    padding: 1rem;

    &__container {
        max-width: 1110px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        div {
            h1 {
                font-weight: 200;
                margin-bottom: 0;
            }

            h2 {
                font-weight: 300;
                margin-top: 0;
            }

            h3 {
                margin: 0;
                padding: 0;
            }
        }

        button {
            background-color: transparent;
            padding: 0.5rem;
            border: 1px solid rgb(31, 128, 224);
            border-radius: 5px;
        }

        img {
            max-width: 100%;
            height: auto;
        }
    }
}