.personal-data-form {
    &--red {
        color: rgb(255, 0, 0);
    }

    input[type="text"],
    input[type="email"],
    input[type="tel"] {
        background-color: rgb(21, 31, 48);
        border: 0;
        padding: 0.8rem;
        border-radius: 10px;
        width: 100%;
        color: rgb(255, 255, 255);
    }

    &__content {
        padding-top: 1rem;

        label {
            font-weight: 800;
        }

        div {
            flex: 1;
            flex-grow: 1;

            input {
                margin-bottom: 1rem;
                margin-top: 0.5rem;
            }
        }

        &--name {
            @media (min-width:481px) {
                display: flex;
                justify-content: space-between;
                gap: 2rem;
            }
        }

        &--mail {
            @media (min-width:481px) {
                display: flex;
                justify-content: space-between;
                gap: 2rem;
            }
        }

        &--phone {
            @media (min-width:481px) {
                display: flex;
                justify-content: space-between;
                gap: 2rem;
            }
        }
    }

    &__consent-checkboxes {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        label {
            display: flex;
            gap: 0.5rem;
        }

        p {
            font-size: 11px;
        }

        input[type="checkbox"] {
            appearance: none;
            margin: 0;
            width: 1.15em;
            min-width: 1.15em;
            height: 1.15em;
            min-height: 1.15em;
            border: 0.1rem solid currentColor;
            border-radius: 20%;
            border-color: rgb(44, 127, 237);
            position: relative;
        }

        input[type="checkbox"]:checked {
            border-color: #2F80ED;
        }

        input[type="checkbox"]::before {
            content: "\2713";
            display: none;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 14px;
            color: #2F80ED;
        }

        input[type="checkbox"]:checked::before {
            display: block;
        }
    }

    &__btn {
        display: flex;
        justify-content: center;
        gap: 1rem;
        padding-top: 2rem;
        flex-wrap: wrap;

        button {
            background-color: rgb(49, 130, 237);
            border: 0;
            border-radius: 5px;
            padding: 0.7rem;
            cursor: pointer;
        }
    }
}