.seat-layout-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.seat-layout {
    display: flex;
    flex-direction: column;
    gap: 5px;
    overflow-x: auto;
}

.seat-layout__row {
    display: flex;
    gap: 5px;
    align-items: center;
}

.seat-layout__row-number {
    display: flex;
    min-width: 1rem;
    justify-content: center;
}

.seat-layout__screen {
    margin-top: 2rem;
    margin-bottom: 1rem;
    padding: 0.3rem;
    background-color: #151F30;
    width: 100%;
    border-radius: 5px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.seat-layout__seat {
    max-width: 65px;
    max-height: 65px;
    min-width: 40px;
    min-height: 40px;
    margin: 2px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px 10px 5px 5px;
    cursor: pointer;
}

.seat-layout__seat.active {
    background-color: #151F30;
}

.seat-layout__seat.inactive {
    background-color: none;
    cursor: not-allowed;
    pointer-events: none;
}

.seat-layout__seat.reserved {
    background-color: #0A0E17;
}

.seat-layout__seat.selected {
    background-color: #2F80ED;
}