.row {
    td {
        background-color: rgb(21, 31, 48);
        padding: 1rem;
        white-space: nowrap;
    }

    td:first-child {
        border-radius: 10px 0 0 10px;
    }

    td:last-child {
        border-radius: 0 10px 10px 0;
    }
}