.voucher-ticket {
    display: flex;
    gap: 1rem;
    padding-top: 1rem;

    input {
        background-color: #151F30;
        border-radius: 5px;
        border: 0;
        padding: 0.6rem;
    }

    button {
        background-color: #2F80ED;
        border-radius: 5px;
        border: 0;
        padding: 0.6rem;
    }
}